/* On screens that are 1024px and more */
/* 1024px (iPad Pro) */

.home-hero-forme {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  pointer-events: none;
}

.home-hero-bg-img {
  background-image: url("../assets/images/hero.jpg");
  width: 100%;
  height: 340px;
  position: relative;
  background-position: center;
  background-size: cover;
}

/* -------------------------------------------------------------------------- */
/*	Media Queries
/* -------------------------------------------------------------------------- */

/* On screens that are 990px or less */
/* 768px (iPad) */

@media screen and (max-width: 990px) {
  .home-hero-forme {
    height: 30px;
  }

  .home-hero-bg-img {
    height: 300px;
  }
}

/* On screens that are 540px or less */
/* 540px (Surface Duo) */

@media screen and (max-width: 540px) {
  .home-hero-forme {
    height: 30px;
  }

  .home-hero-bg-img {
    height: 240px;
  }
}

/* On screens that are 414px or less */
/* 411px (Pixel 2) */
/* 414px (iPhone 6/7/8 Plus) */

@media screen and (max-width: 414px) {
  .home-hero-forme {
    height: 20px;
  }

  .home-hero-bg-img {
    height: 200px;
  }
}

/* On screens that are 375px or less */
/* 375px (iPhone 6/7/8/X) */
/* 360px (Motor G4/Galaxy S5) */
/* 320px (iPhone 5/SE) */
/* 280px (Galaxy Ford) */

@media screen and (max-width: 375px) {
  .home-hero-forme {
    height: 15px;
  }

  .home-hero-bg-img {
    height: 160px;
  }
}
