/* On screens that are 1024px and more */
/* 1024px (iPad Pro) */

.home-hero-ready-container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.home-hero-ready-card {
  background: white;
  width: 100%;
  margin: auto 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  padding: 32px !important;
}

.home-hero-ready-card > span {
  font-size: 2.2rem;
  font-weight: 500;
  color: rgba(17, 17, 17, 1);
}

.home-hero-ready-card button {
  margin: 16px 0;
  font-size: 1.6rem;
}

.home-hero-ready-card .text-link {
  font-size: 1.4rem;
}

/* -------------------------------------------------------------------------- */
/*	Media Queries
/* -------------------------------------------------------------------------- */

/* On screens that are 974px or less */
/* 768px (iPad) */

@media screen and (max-width: 990px) {
  .home-hero-ready-card {
    padding: 28px !important;
  }

  .home-hero-ready-card > span {
    font-size: 1.4rem;
  }

  .home-hero-ready-card button {
    margin: 12px 0;
    font-size: 1.2rem;
  }

  .home-hero-ready-card .text-link {
    font-size: 1rem;
  }
}

/* On screens that are 768px or less */
/* 768px (iPad) */

@media screen and (max-width: 768px) {
  .home-hero-ready-card {
    padding: 24px !important;
  }

  .home-hero-ready-card > span {
    font-size: 1rem;
  }

  .home-hero-ready-card button {
    margin: 12px 0;
    font-size: 0.8rem;
  }

  .home-hero-ready-card .text-link {
    font-size: 0.6rem;
  }
}

/* On screens that are 540px or less */
/* 540px (Surface Duo) */

@media screen and (max-width: 540px) {
  .home-hero-ready-card {
    padding: 20px !important;
  }

  .home-hero-ready-card > span {
    font-size: 0.8rem;
  }

  .home-hero-ready-card button {
    margin: 8px 0;
    font-size: 0.6rem;
  }

  .home-hero-ready-card .text-link {
    font-size: 0.6rem;
  }
}

/* On screens that are 414px or less */
/* 411px (Pixel 2) */
/* 414px (iPhone 6/7/8 Plus) */

@media screen and (max-width: 426px) {
  .home-hero-ready-card {
    padding: 12px !important;
  }

  .home-hero-ready-card > span {
    font-size: 0.8rem;
  }

  .home-hero-ready-card button {
    margin: 4px 0;
    font-size: 0.7rem;
  }

  .home-hero-ready-card .text-link {
    font-size: 0.5rem;
  }
}

/* On screens that are 375px or less */
/* 375px (iPhone 6/7/8/X) */
/* 360px (Motor G4/Galaxy S5) */
/* 320px (iPhone 5/SE) */

@media screen and (max-width: 398px) {
  .home-hero-ready-container {
    width: 50%;
  }
  .home-hero-ready-card {
    padding: 4px !important;
  }

  .home-hero-ready-card > span {
    font-size: 0.8rem;
  }

  .home-hero-ready-card button {
    margin: 4px 0;
    font-size: 0.6rem;
  }

  .home-hero-ready-card .text-link {
    font-size: 0.5rem;
  }
}
